#root {
  margin: 0 auto;
  text-align: center;
}
.header {
  top: 2em;
  padding-bottom: 3em;
  color: aquamarine;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms; 
}

h3 {
  font-size: smaller;
  color:darkgrey;
}
h2 {
  padding: 3em
}
h1 {
  animation: color-shift infinite 15s linear;
  font-size: 3.2em;
  line-height: 1.1;
  padding: 26px;
  color: aquamarine;
}

.icon {
  height: 20em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  border-radius: 28%;
  filter: drop-shadow(0 0 2em #64ffffaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
    filter: hue-rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    filter: hue-rotate(0360deg);

  }
}
@keyframes bonce {
  from {
    scale: 1;
  }
  50% {
    scale: 1.05;
  }
  to{
    scale: 1;
  }
}
@keyframes color-shift {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(0360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .icon {
    animation: logo-spin infinite 15s linear, bonce infinite 1s ease-in;
  }
}

.line {
  color: aquamarine;
  animation: color-shift infinite 15s linear;
  padding: 2%;
}

.mainimg {
  width: 700px;
  height: 500px;
  object-fit: contain;
  padding: 1em;
  padding-left: 3em;
}
.mainimgscr {
  width: 400px;
  padding: 1em;
  padding-left: 3em;
}
.horizontal-container {
  display: flex;
  width: fit-content;
}
.maintext {
  padding-left: 1em;
  padding-top: 2em;
}

.balls {
  padding: 1em;
  width: 600px;
  object-fit: contain;
}

